<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TibiaTek_Multi_Client_Patcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <TibiaTek_Multi_Client_Patcher.My.MySettings>
            <setting name="PatchText" serializeAs="String">
                <value>Patch</value>
            </setting>
            <setting name="CloseText" serializeAs="String">
                <value>Close</value>
            </setting>
            <setting name="BrowseText" serializeAs="String">
                <value>Browse</value>
            </setting>
            <setting name="ProductName" serializeAs="String">
                <value>Tibia Player</value>
            </setting>
            <setting name="ProductVersion" serializeAs="String">
                <value>8.00</value>
            </setting>
            <setting name="PatchOffset" serializeAs="String">
                <value>1008164</value>
            </setting>
            <setting name="PatchReplacement" serializeAs="String">
                <value>235</value>
            </setting>
            <setting name="ErrorMsg1" serializeAs="String">
                <value>Error: The selected application is not the Tibia client.</value>
            </setting>
            <setting name="ErrorMsg2" serializeAs="String">
                <value>Error: The version of the Tibia client must be: </value>
            </setting>
            <setting name="BackupExecutable" serializeAs="String">
                <value>Tibia.Backup.exe</value>
            </setting>
            <setting name="MCExecutable" serializeAs="String">
                <value>TibiaMC.exe</value>
            </setting>
            <setting name="ErrorMsg3" serializeAs="String">
                <value>Error: Already patched.</value>
            </setting>
            <setting name="ErrorCaption" serializeAs="String">
                <value>Error</value>
            </setting>
            <setting name="QuestionCaption" serializeAs="String">
                <value>Question</value>
            </setting>
        </TibiaTek_Multi_Client_Patcher.My.MySettings>
    </applicationSettings>
</configuration>
