<?xml version="1.0" encoding="utf-8" ?>
<!--
    Copyright (C) 2007 TibiaTek Development Team

    This file is part of TibiaTek Bot.

    TibiaTek Bot is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    TibiaTek Bot is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with TibiaTek Bot. If not, see http://www.gnu.org/licenses/gpl.txt
    or write to the Free Software Foundation, 59 Temple Place - Suite 330,
    Boston, MA 02111-1307, USA.Imports System.Math
-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TibiaTek_Multi_Client_Patcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <TibiaTek_Multi_Client_Patcher.My.MySettings>
            <setting name="PatchText" serializeAs="String">
                <value>Patch</value>
            </setting>
            <setting name="CloseText" serializeAs="String">
                <value>Close</value>
            </setting>
            <setting name="BrowseText" serializeAs="String">
                <value>Browse</value>
            </setting>
            <setting name="ProductName" serializeAs="String">
                <value>Tibia Player</value>
            </setting>
            <setting name="PatchReplacement" serializeAs="String">
                <value>235</value>
            </setting>
            <setting name="ErrorMsg1" serializeAs="String">
                <value>Error: The selected application is not the Tibia client.</value>
            </setting>
            <setting name="ErrorMsg2" serializeAs="String">
                <value>Error: The version of the Tibia client is not supported.</value>
            </setting>
            <setting name="BackupExecutable" serializeAs="String">
                <value>Tibia.Backup.exe</value>
            </setting>
            <setting name="MCExecutable" serializeAs="String">
                <value>TibiaMC.exe</value>
            </setting>
            <setting name="ErrorMsg3" serializeAs="String">
                <value>Error: Already patched.</value>
            </setting>
            <setting name="ErrorCaption" serializeAs="String">
                <value>Error</value>
            </setting>
            <setting name="QuestionCaption" serializeAs="String">
                <value>Question</value>
            </setting>
            <setting name="TibiaExecutableText" serializeAs="String">
                <value>Tibia Executable</value>
            </setting>
            <setting name="PatchMsg1" serializeAs="String">
                <value>Would you like to make a backup of your Tibia Executable?</value>
            </setting>
            <setting name="PatchMsg2" serializeAs="String">
                <value>Backup of the Tibia Executable saved to</value>
            </setting>
            <setting name="PatchCaption1" serializeAs="String">
                <value>Backup Complete</value>
            </setting>
            <setting name="CompleteCaption" serializeAs="String">
                <value>Complete</value>
            </setting>
            <setting name="PatchMsg3" serializeAs="String">
                <value>Successfully patched.</value>
            </setting>
            <setting name="CreditsTTDT" serializeAs="String">
                <value>TibiaTek Development Team</value>
            </setting>
            <setting name="CreditsTS" serializeAs="String">
                <value>Tibiasoft.com</value>
            </setting>
            <setting name="CreditsTTDTUrl" serializeAs="String">
                <value>http://www.tibiatek.com/</value>
            </setting>
            <setting name="CreditsTSUrl" serializeAs="String">
                <value>http://www.tibiasoft.com/</value>
            </setting>
        </TibiaTek_Multi_Client_Patcher.My.MySettings>
    </applicationSettings>
</configuration>
