<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TibiaTekPlus.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TibiaTekPlus.TibiaTekPlus" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TibiaTekPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TibiaTekPlus.Settings>
            <setting name="Skin" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="MainMenuPosition" serializeAs="String">
                <value>TopPanel</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>201, 380</value>
            </setting>
            <setting name="ProgramRecentAddresses" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>login01.tibia.com:7171</string>
                        <string>login02.tibia.com:7171</string>
                        <string>login03.tibia.com:7171</string>
                        <string>login04.tibia.com:7171</string>
                        <string>login05.tibia.com:7171</string>
                        <string>tibia01.cipsoft.com:7171</string>
                        <string>tibia02.cipsoft.com:7171</string>
                        <string>tibia03.cipsoft.com:7171</string>
                        <string>tibia04.cipsoft.com:7171</string>
                        <string>tibia05.cipsoft.com:7171</string>
                    </ArrayOfString>
                </value>
            </setting>
        </TibiaTekPlus.Settings>
        <TibiaTekPlus.TibiaTekPlus>
            <setting name="Skin" serializeAs="String">
                <value>Default</value>
            </setting>
        </TibiaTekPlus.TibiaTekPlus>
        <TibiaTekPlus.Properties.Settings>
            <setting name="newProfileMenuItemText" serializeAs="String">
                <value>&amp;New Profile</value>
            </setting>
        </TibiaTekPlus.Properties.Settings>
    </userSettings>
</configuration>